@import "tailwindcss";

@import "./base/theme.css";
@import "./base/root.css";
@import "./base/fonts.css";
@import "./base/properties.css";
@import "./base/keyframes.css";
@import "./base/base.css";
@import "./base/typography.css";
@import "./base/icons.css";

/* Components */
@import "./components/buttons.css";
@import "./components/checkbox.css";
@import "./components/form_base.css";
@import "./components/wysiwyg.css";

/* Legacy components - disabled */
/* @import "./components/expandable.css"; */
/* @import "./components/components.css"; */
/* @import "./components/cookies.css"; */
/* @import "./components/menu.css"; */
/* @import "./components/modals.css"; */
/* @import "./components/swiper.css"; */

/* Utilities */
@import "./utilities/containerGrid.css";
@import "./utilities/focus.css";

/* Legacy utilities - disabled */
/* @import "./utilities/utilities.css"; */

