.modal {
  @apply fixed left-0 right-0 bottom-0 top-0 opacity-0 -z-1;
  transition: opacity 0.25s ease-in-out;

  .modal-background {
    @apply fixed left-0 right-0 bottom-0 top-0;
  }

  .modal-body-wrapper {
    @apply absolute top-1/2 left-1/2 flex justify-center items-center w-full max-h-[calc(100vh-var(--padding-px)*2)] md:max-h-[calc(100vh-100px)];
    max-width: min(calc(100% - var(--padding-px)*2), var(--container-max-width));
    transform: translate(-50%, -50%);
  }

  .modal-body {
    @apply scale-50 max-w-full max-h-[calc(100vh-var(--padding-px)*2)] md:max-h-[calc(100vh-100px)];
    transition: transform 0.275s ease;
  }
  .modal-main {
    @apply max-h-[calc(100vh-var(--padding-px)*2)] md:max-h-[calc(100vh-100px)] overflow-y-auto;
  }

  &[data-open="true"] {
    @apply opacity-100 z-[9999];

    .modal-body {
      @apply scale-100;
      transition: transform 0.275s ease;
    }
  }
}
