/* @font-face {
  font-family: 'Poppins';
  src: url('@/fonts/Poppins-Regular.eot');
  src: url('@/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('@/fonts/Poppins-Regular.ttf') format('truetype'),
       url('@/fonts/Poppins-Regular.woff') format('woff'),
       url('@/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;F
}
 */
@font-face {
  font-family: "Inter";
  src: url("@/fonts/Inter-Regular.eot");
  src: url("@/fonts/Inter-Regular.woff2") format("woff2"),
    url("@/fonts/Inter-Regular.woff") format("woff"),
    url("@/fonts/Inter-Regular.ttf") format("truetype"),
    url("@/fonts/Inter-Regular.eot?#iefix")
      format("embedded-opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("@/fonts/Inter-Medium.eot");
  src: url("@/fonts/Inter-Medium.woff2") format("woff2"),
    url("@/fonts/Inter-Medium.woff") format("woff"),
    url("@/fonts/Inter-Medium.ttf") format("truetype"),
    url("@/fonts/Inter-Medium.eot?#iefix")
      format("embedded-opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("@/fonts/Inter-SemiBold.eot");
  src: url("@/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("@/fonts/Inter-SemiBold.woff") format("woff"),
    url("@/fonts/Inter-SemiBold.ttf") format("truetype"),
    url("@/fonts/Inter-SemiBold.eot?#iefix")
      format("embedded-opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("@/fonts/Inter-Bold.eot");
  src: url("@/fonts/Inter-Bold.woff2") format("woff2"),
    url("@/fonts/Inter-Bold.woff") format("woff"),
    url("@/fonts/Inter-Bold.ttf") format("truetype"),
    url("@/fonts/Inter-Bold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("@/fonts/Inter-Black.eot");
  src: url("@/fonts/Inter-Black.woff2") format("woff2"),
    url("@/fonts/Inter-Black.woff") format("woff"),
    url("@/fonts/Inter-Black.ttf") format("truetype"),
    url("@/fonts/Inter-Black.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

