@layer base {
    body {
      @apply font-inter text-sm text-gray-700;
    }

    h1, .h1 {
      @apply font-inter text-4xl md:text-6xl font-bold leading-tight;
    }

    h2, .h2 {
      @apply font-inter text-3xl md:text-4xl font-bold leading-tight;
    }

    h3, .h3 {
      @apply font-inter text-2xl font-semibold leading-snug;
    }

    h4, .h4 {
      @apply font-inter text-xl font-semibold leading-snug;
    }

    h5, .h5 {
      @apply font-inter text-lg font-semibold leading-normal;
    }

    h6, .h6 {
      @apply font-inter text-base font-semibold leading-normal;
    }

    b, strong {
      @apply font-bold;
    }

    p:has(+ p) {
      @apply mb-4;
    }
}
